<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <datasets>
        <dataset id="FVCOM" title="FVCOM" location="/ncWMS/samples/fvcom_example.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables/>
        </dataset>
    </datasets>
    <cache enabled="true">
        <inMemorySizeMB>1024</inMemorySizeMB>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </cache>
    <dynamicServices/>
    <contact>
        <name></name>
        <organization>Axiom Data Science</organization>
        <telephone></telephone>
        <email>axiom@axiomdatascience.com</email>
    </contact>
    <server>
        <title>Axiom ncWMS</title>
        <allowFeatureInfo>true</allowFeatureInfo>
        <maxImageWidth>2750</maxImageWidth>
        <maxImageHeight>2750</maxImageHeight>
        <abstract></abstract>
        <keywords></keywords>
        <url></url>
        <allowglobalcapabilities>true</allowglobalcapabilities>
    </server>
    <crsCodes/>
</config>
